
#ruby {
  display: none;
}

#css {
  display: none;
}

#c {
  display: none;
}

#all-1 {
  display: none;
}

#all-2 {
  display: none;
}

a {
  color: #e5ab54;
}

a:hover {
  color: #40b8bc;
}
.user-result {
  display: none;
  padding: 50px;
}

.btn {
  display: block;
  margin: 0 auto;
}

.body {
  font-family: helvetica;
}

.img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
  display: block;
  padding: 5px;
}

.icons {
  display:inline-block;
  width: 100px;
  height: 100px;
}
.text-emphasis {
  font-size: 20px;
  font-weight: 800;
  color: #40b8bc;
}

.form-group {
  padding: 8px;
}

.jumbotron {
  background-color: #40b8bc;
  margin: 20px;
}

.jumbotron h1 {
  text-align: center;
  font-weight: 500;
  padding: 30px;
}

.jumbotron h3 {
  text-align: center;
  font-weight: 400;
}

.panel {
  background-color: #dedfe0;
  padding: 20px;
  margin: 20px;
}

.user-result {
  border: solid #e5ab54 3px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.user-result h4 {
  font-weight: 300;
}
