
#ruby {
  display: none;
}

#css {
  display: none;
}

#c {
  display: none;
}

.user-result {
  display: none;
}

.btn {
  display: block;
  margin: 0 auto;
}

.body {
  font-family: helvetica;
}

.img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
  display: block;
}

.text-emphasis {
  font-size: 20px;
  font-weight: 800;
  color: #40b8bc;
}

.form-group {
  padding: 8px;
}

.jumbotron {
  background-color: #40b8bc;
  width: 80%;
}

.jumbotron h1 {
  text-align: center;
  font-family: Verdana;
  font-weight: 600;
  padding: 20px;
}

.jumbotron h3 {
  text-align: center;
}

.panel {
  background-color: #dedfe0;
  width: 80%;
  padding: 20px;
}

.user-result {
  border: solid #e5ab54 3px;
  border-radius: 10px;
  width: 80%;
  padding: 20px;
}
