
#ruby {
  display: none;
}

#css {
  display: none;
}

#c {
  display: none;
}

#ruby_css_c {
  display: none;
}

#ruby_c {
  display: none;
}

.btn {
  display: block;
}

.body {
  font-family: helvetica;
}

.img {
  float: left;
  width: 200px;
  height: auto;
}

.text-emphasis {
  font-size: 20px;
  font-weight: 600;
  color: #40b8bc;
}

.form-group {
  padding: 8px;
}
